.checklist {
    list-style-type: none;
    padding: 0;
}

.checklist li {
    padding-left: 25px;
    margin: 5px 0;
    background-repeat: no-repeat;
    background-position: left center;
}

.checklist li.checked {
    background-image: url('../images/vinkje.png');
    background-size: 16px 16px;
}

.checklist li:not(.checked) {
    background-image: url('../images/leegVakje.png');
    background-size: 16px 16px;
}