
.form-group {
    margin-bottom: 10px;
}



input {
    display: block;
    width: 250px;
    padding: 5px;
}

.invalid {
    border: 1px solid red;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 2px;
}

button {
    margin-top: 15px;
    padding: 8px 12px;
}