body{
    width: 95%;
    margin: 0 auto;
}

section > header{
    background-image: url("../images/header.jpg");
    padding: 15px;
    margin-top: 5px;
}

section > header > h1{
    color: white;
    font-size: 30px;
    margin-top: 2px;
}

nav{
    background-color: #3a3939;
    width: 100%;
    margin-bottom: 0;
}

nav a{
    color: #84eeb4;
    text-decoration: none;
    padding: 15px;
}

article{
    background-color: #e1dcdc;
}

article > header > h1{
    font-size: 30px;
    margin-top: 5px;
    padding-top: 25px;
    text-decoration: underline;
}